<div class="row">
    <div class="col-4">
        <img src="/assets/images/login.png" class="align-self-end">
        <div class="list-group" id="list-tab" role="tablist">
            <label class="btn btn-secondary active">
                Datos
            </label>
            <label class="btn btn-secondary">
                Historia Clínica
            </label>
            <label class="btn btn-secondary">
                Por definir
            </label>
            <label class="btn btn-secondary">
                Por definir
            </label>
        </div>
    </div>
    <div id="info" class="col">
        
    </div>
</div>