<div class="container text-center mt-5 mb-5">

    <img src="/assets/images/login.png">
    <hr>

    <div class="form-group row me-5">

        <label class="col col-form-label">Nombres: </label>
        <div class="col">

            <input class="form-control" type="text" placeholder="Nombres" #nombre>

        </div>
        <label class="col col-form-label">Apellidos: </label>
        <div class="col">

            <input class="form-control" type="text" placeholder="Apellidos" #apellido>

        </div>

    </div>
    <br>

    <div class="form-group row me-5">

        <label class="col col-form-label">Correo: </label>
        <div class="col">

            <input class="form-control" type="text" placeholder="Correo" #correo>

        </div>
        <label class="col col-form-label">Fecha de Nacimiento: </label>
        <div class="col">

            <input class="form-control" type="date" #fecha>

        </div>

    </div>
    <br>

    <div class="form-group row me-5">

        <label class="col col-form-label">Teléfono: </label>
        <div class="col">

            <input class="form-control" type="text" placeholder="ej. 1234567890" #telefono>

        </div>
        <label class="col col-form-label">Contraseña: </label>
        <div class="col">

            <input class="form-control" type="password" placeholder="********" #contrasena>

        </div>

    </div>
    <br>

    <div class="form-group row me-5">

        <label class="col col-form-label">Sexo: </label>
        <div class="col">

            <select class="form-select" aria-label="Default select example" #sexo>
                <option selected>Selecciona el Sexo</option>
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
            </select>

        </div>
        <label class="col col-form-label">Confirmar Contraseña: </label>
        <div class="col">

            <input class="form-control" type="password" placeholder="********" #cocontrasena>

        </div>

    </div>
    <br>

    <div class="form-group row me-5">

        <label class="col col-form-label">Usuario: </label>
        <div class="col">

            <input class="form-control" type="text" placeholder="Usuario" #usuario>

        </div>
        <label class="col col-form-label">Dirección: </label>
        <div class="col">

            <input class="form-control" type="text" placeholder="Cll. 4" #direccion>

        </div>

    </div>
    <br>

    <button class="btn btn-outline-primary mt-5" type="button" name="ingresar"
        (click)="registrar(nombre.value, apellido.value, correo.value, fecha.value, telefono.value, contrasena.value, sexo.value, cocontrasena.value, usuario.value, direccion.value)">Registrarse</button>

</div>