<!--<ejs-datetimepicker [(value)]='citaModel.Fecha'></ejs-datetimepicker>-->
<form #formularioCita="ngForm" class="text-center border border-light p-5" (ngSubmit)="onCreatePost(formularioCita.value)">
	<p class="h4 mb-4">Agendar Cita</p>
	<input
    type="text"
    name="Usuario"
    id="Usuario"
	placeholder="Usuario"
    class="form-control mb-4"
    [(ngModel)]="citaModel.Usuario"
	disabled
  />

  <input
    type="text"
    name="Medico"
    placeholder="Nombre de Medico"
	class="form-control mb-4"
    [(ngModel)]="citaModel.Medico"
	disabled
  />

  <input
    type="date"
    name="Fecha"
    placeholder="Fecha"
	class="form-control mb-4"
    [(ngModel)]="citaModel.Fecha"
  />

  <input
    type="time"
    name="Hora"
    placeholder="Hora"
	class="form-control mb-4"
	step="3600" min="00:00"
    [(ngModel)]="citaModel.Hora"
  />

  <button class="btn btn-info btn-block" type="submit">Guardar</button>
</form>

<!-- <h2>Depurando cita:</h2>
{{ citaModel | json }} -->

<p class="h4 mb-4" style="margin: 0px auto; text-align: center;">Citas Agendadas</p>
<table class="table">
  <thead>
    <tr>
      <th>Medico</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cita of citas">
      <td>{{cita.Medico}}</td>
      <td>{{cita.Fecha}}</td>
      <td>{{cita.Hora}}</td>
      <td>
        <button type="button" class="btn btn-primary" (click)="onDeleteCita(cita.Fecha,cita.Hora)">Cancelar</button>
      </td>
    </tr>
  </tbody>
</table>
