<!-- Jumbotron -->
<div class="p-5 text-center bg-image rounded-3" style="
    background-image: url('../../../assets/images/jumbotron-contact.jpeg');
    height: 400px;
    background-repeat: round;
  ">
    <div class="mask">
        <div class="d-flex h-100" style="flex-direction: column;">
            <div class="text-white" style="width: 39%;">
                <h1 class="mb-3">¡Estamos atentos a solucionar tus dudas!</h1>
            </div>
        </div>
    </div>
</div>
<div style="width: 39%; position: relative; margin-top: -50px;">
    <h3 class="mb-3">Lunes a viernes: 7:00-18:00</h3>
</div>
<!-- Jumbotron -->
<div class="row"
    style="--bs-gutter-x: 0; margin-top: 20px; margin-bottom: 20px; padding-left: 50px;padding-right: 50px;">
    <div class="col-4">
        <div>
            <div style="display: flex;
            align-items: center;">
                <a href="#"><img src="../../../assets/images/whatsapp-icon.jpeg" href="#"
                        style="width: 100px; height: 100px;"></a>
                <p>+57 310 101 000</p>
            </div>
            <div style="display: flex;
            align-items: center; margin-top: 20px;">
                <a href="#"><img src="../../../assets/images/phone-icon.jpeg" href="#"
                        style="width: 85px; height: 85px; margin-left: 7px;"></a>
                <p style="margin-left: 12px;">555 55 55</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div>
            <div style="display: flex;
            align-items: center;">
                <a href="#"><img src="../../../assets/images/mail-icon.jpeg" style="width: 100px; height: 100px;"></a>
                <p>mediderm@medimerm.com</p>
            </div>
        </div>
    </div>
    <div class="col-4" style="display: flex;
    justify-content: flex-end;">
        <div>
            <!-- <div >
                <p>chat</p>
                <img src="http://cdn.onlinewebfonts.com/svg/img_397748.png" style="width: 200px; height: 200px;">
            </div> -->
            <div class="card-img-overlay-ba">
                <h1>Chat</h1>
                <a title="Chatea con  nosotros!" href="#">

                    <img src="http://cdn.onlinewebfonts.com/svg/img_397748.png" href="#" class="chat"
                        alt="Chatea con  nosotros! " />
                </a>
            </div>
        </div>
    </div>
</div>